.videoPlayer {
    justify-content: left;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}

.comments {
    width: 90%;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.videoFooter {
    justify-content: left;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 25%;
}

.videoHeader {
    justify-content: left;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
}

.videoTable {
    justify-content: right;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}

.reply {
    margin-left: 10%;
}

.videoContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.videoPlayerLayer {
    margin: 0 auto;
}