.videoPlayer {
    justify-content: left;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}

.comments {
    justify-content: left;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}

.videoFooter {
    justify-content: left;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 25%;
}

.videoHeader {
    justify-content: left;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
}

.videoTable {
    justify-content: right;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}

.reply {
    margin-left: 10%;
}

.videoContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.videoPlayerLayer {
    margin: 0 auto;
}