.videoPlayer {
    justify-content: left;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}

.comments {
    justify-content: left;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}

.videoFooter {
    justify-content: left;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 5%;
}